/*Mobil telefon som defualt*/
body{
    display: flex;
    flex-direction: column;
    background-image: url("/img/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMDlfMS1rcm9pcjRkay5qcGc.webp");
}

main{
    /* overflow: auto; */
    max-width: 99vw;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.4);
    opacity: 1;
    max-height: 5vh;

    border-radius: 8%;
    margin:0px;
    padding: 0px;
}

.logo{
    min-height: 5vh;
    min-width: 5vh;
    background-image: url(/img/ytdydyfgfcifouyg.png);
    background-size: 100%; /*för att bilden ska få plats i diven*/
    margin: 0px;
    padding: 0px;
}

.region button{
    background-color: rgba (145, 126, 18, 0.8);
    color: black;
    border: none;
    cursor: pointer;

}

.region a{
    display: block;
    color: black;
    text-decoration: none;

}

.region .regions{
    display: none;
    position: absolute; /* allt ska få plats i*/ 
    background-color: azure;
    min-width: 100px;
}

.region:hover .regions{
    display: block;
}

.search label{
    display: block;
    height: 1px;
}

.help button{
    margin-top: 50%;
}

.cart button{
    margin-top: 50%;
}

main{
display: flex;
flex-direction: column;
height: 82vh;
}

.catogories{
    background-color: rgba(220, 220, 220, 0.4);
    height: 80vh;
    margin: 5%;
    border-color: red;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.produkt{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
            
.prod_info{


}

h2, p, button *{
    margin: 0px;
}
.produkt img{
   
    max-height: 85px;
    /* margin-left: 20vh;
    margin-top: -35vh; */
}

.catogories button{

    /* margin-top: -10vh; */
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(220, 220, 220, 0.4);
    min-height: 8vh;
    border-radius: 8%;
}

.catogories img{
    
}
@media only screen and (min-width: 1007px){ /*Paddor*/
    
}

@media only screen and (min-width: 1008px){ /*Desktop*/
    
}

/*body{
        display: grid;
        grid-template-columns:  2fr  2fr 2fr  ; 
        grid-template-rows: 3fr 25fr 2fr  ;
        height: 100vh;
    }*/

    input{
        font-size: 24px;
        height: 20px;
        max-width: 110px;
    }